<div class="tab-div-menu">
    <ul class="category-ul">
        <li id="tab1-li" class="tab-div-menu-li category" onclick="my_tab_li_click(1)" style="background-color: #6AA593">
            CATEGORY
        </li>
        <li id="tab2-li" class="tab-div-menu-li datetime" onclick="my_tab_li_click(2)">
            DATETIME
        </li>
    </ul>
</div>
  
<div id="tab1-div" class="archive" style="display: block">
    <%- list_categories(site.categories) %>
</div>

<div id="tab2-div" class="archive">
    <ul class="post-archive">
        <% var last; %>  
        <% page.posts.each(function (post) { %>
            <% var year = post.date.year(); %>
            <% if (last != year){ %>
                <% last = year; %>
                <h2 class="archive-main-category"><%= year %></h2>
            <% } %>
                <div class="post-item">
                    <div class="post-info"><%= date(post.date, "YYYY-MM-DD") %></div>
                    <a href="<%- url_for(post.path) %>" class="post-title-link" target="_blank"><%= post.title %></a>
                </div>
        <% }) %>
    </ul>
</div>