<footer>
  <div class="paginator"></div>
  <div class="copyright">
    <p>email: <a href="mailto:<%- theme.me.email %>" title="<%- theme.me.email %>"><%- theme.me.email %></a></p>
    <p>© 2018 - 2019 <a href="<%- url_for(theme.url.blog_url) %>" target="_blank">umatobu</a>, powered by <a href="https://hexo.io/" target="_blank">Hexo</a> and <a href="<%- url_for(theme.url.theme_url) %>" target="_blank">hexo-theme-umatobu</a>.</p>
  </div>
</footer>